body {
	margin: 0px;
	padding: 0px;
	background-color: rgb(240, 240, 240);
	font-family: arial;
	color: white;
}

#content {
	height: 100%;
	width: 80%;
	margin-left: 10%;
}

#header {
	width: 100%;
	height: 64px;
	background-color: rgb(200, 200, 200);
	display: inline-block;
	text-align: center;
}

.navbutton {
	height: 64px;
	line-height: 64px;
	padding: 0 16 0 16;
	background-color: rgb(180, 180, 180);
	display: inline-block;
	cursor: default;
	font-weight: bold;
}

.navbutton:hover {
	background-color: rgb(160, 160, 160);
}

#logout {
	float: right;
	position: relative;
	margin-top: -64px;
	height: 64px;
	line-height: 64px;
	cursor: default;
	padding: 0 16 0 16;
	background-color: rgb(180, 180, 180)
}

#logout:hover {
	background-color: rgb(160, 160, 160);
}

a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

#small {
	width: 40%;
	height: 256px;
	display: inline-block;
	margin-top: 64px;
	display: inline-block;
	text-align: center;
}

.text {
	color: rgb(100, 100, 100);
}

input {
	width: 100%;
	border-radius: 4px;
	border: 1px solid rgb(180, 180, 180);
	margin-bottom: 8px;
	height: 32px;
	padding: 8px;
}

.noborder {
	border-radius: 0px;
	border: none;
}

.hover {}
.hover:hover {
	background-color: rgb(160, 160, 160);
	color: white;
	border-color:(100, 100, 100);
}

table {
  width:100%;
  text-align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
  text-align: center;
}
table tr:nth-child(2n) {
  background-color: #eee;
}
table tr:nth-child(2n+1) {
  background-color:#fff;
}
th{
  background-color: black;
  color: white;
}
